:root {
    --color-dark: #011C44;
    --color-blue: #2B7FFF;
    --color-white: #ffffff;
    --color-grey: #747272;
}
address {
    font-style: normal;
}
* {
    box-sizing: border-box;
}
.header-icons {
    display: flex;
    gap: 32px;
}
body {
    margin: 0;
}
.header-icons1 {
    fill: var(--color-dark);
}

.header-icons1:hover {
    fill: var(--color-blue);
}

.header-icons2 {
    fill: var(--color-dark);
}

.header-icons2:hover {
    fill: var(--color-blue);
}

.header-icons3 {
    fill: var(--color-dark);
}

.header-icons3:hover {
    fill: var(--color-blue);
}
.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}
.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-nav {
    flex-grow: 1;
    display: flex;
        align-items: center;
        gap: 40px;
}
.header-ul {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 56px;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.image-top {
    margin-bottom: 32px;

}
.head {
    backdrop-filter: blur(10px);
        background: rgba(255, 255, 255, 0.25);
        margin-top: 32px;
        margin-bottom: 32px;
}
.main-section {
    background-size: cover;
    padding: 127px 0;
    background-image: url('./images/main-image.jpg');
    background-repeat: no-repeat;
}
.title {
    margin-top: 16px;
    margin-bottom: 40px;
    color: var(--color-blue);
    font-size: 140px;
    font-weight: 700;
    font-family: 'play', sans-serif;
    line-height: 0.8;
}
.Zone1 {
    display: block;
}
.container .container-main-section {
 margin-left: 103px;
}
.button {
    margin-bottom: 14px;
    border-color: #2a7fff;
    border-radius: 32px;
        padding: 16px 32px;
        width: 219px;
        font-weight: 600;
            font-size: 18px;
            font-family: 'Roboto', sans-serif;
        background-color: var(--color-blue);
color: var(--color-white);
white-space: nowrap;
}
.button:hover {
 background: transparent;
border-color: #2a7fff;
color: var(--color-dark);
}
.button:focus {
    background: transparent;
    border-color: #2a7fff;
    color: var(--color-dark);
}
.link {
    color: var(--color-dark);
    text-decoration: none;
        font-size: 18px;
            font-weight: 400;
            font-family: 'Roboto', sans-serif;
}
.link:hover {
    color: var(--color-blue);
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.higher-title {
    margin-top: 16.62px;
    margin-bottom: 0;
    color: var(--color-dark);
        font-size: 18px;
}
.under-title {
    margin-top: 0;
    color: #4A4A4A;
    font-size: 12px;
    line-height: 1.5;
}
.second-section {
    display: flex;
}
.second-photo {
    max-width: 100%;
}
.second-title {
    margin-top: 126px;
    margin-bottom: 40px;
    color: var(--color-dark);
    text-align: left;
    font-family: 'play', sans-serif;
    font-weight: 700;
    font-size: 64px;
}
.transform-container {
    display: flex;
        align-items: center;
}
.images {
    display: flex;
        flex-direction: column;
        gap: 40px;
}
.second-title .accent {
    color: var(--color-blue);
}
.second-photo {
    width: 327px;
    height: 327px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 32px;
}
.second-photo:last-child {
    margin-left: 204px;
}
.arrow1 {
position: absolute;
top: 689px;
    right: 73px;
}
.second-title .accent1 {
    display: block;
}
.text {
    color: var(--color-dark);
    line-height: 1.7;
    margin-top: 40px;
}
.text2 .text-span {
    font-weight: 600;
}
.text2 {
    color: var(--color-dark);
    line-height: 1.7;
    margin-bottom: 375px;
    margin-top: 40px;
}
.transform {
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.third-title {
    color: var(--color-dark);
    text-align: center;
    font-family: 'play', sans-serif;
    font-weight: 700;
        font-size: 64px;
        margin-top: 176px;
        margin-bottom: 48px;
}
.third-title .accent {
    color: var(--color-blue);
}
.fourth-title {
    color: var(--color-dark);
    text-align: center;
    font-family: 'play', sans-serif;
    font-weight: 700;
        font-size: 64px;
        margin-top: 96px;
        margin-bottom: 48px;
}
.fourth-title .accent {
    color: var(--color-blue);
}
.fifth-title {
    color: var(--color-dark);
    text-align: center;
    font-family: 'play', sans-serif;
    font-weight: 700;
        font-size: 64px;
        margin-top: 96px;

}
.fifth-section {
    display: flex;
}
.fifth-title .accent {
    color: var(--color-blue);
}
.finish {
    color: var(--color-white);
    font-weight: 600;
}
.finish .accent {
    color: var(--color-blue);
}
.why {
    justify-content: center;
    color: #000000;
    font-size: 18px;
    line-height: 1.3;
    gap: 120px;
    text-align: center;
    display: flex;
    padding: 32px;
}
.button-icon {
  width: 44px; 
  height: 44px;
  border-radius: 50%;
  border: 1px solid var(--color-dark);
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--color-white);
}
.button-icon1 {
    fill: var(--color-dark);
}
.button-icon:hover {
    background-color: var(--color-blue);
    border: 1px solid var(--color-white);
}
.button-icon:hover .button-icon1 {
    fill: var(--color-white);
}
.procedurs1 {
    color: var(--color-white);
    line-height: 1.1;
    background-image: url('./images/image 1580.jpg') ;
    background-repeat: no-repeat;
    width: 344px;
        height: 456px;
}
.procedurs {
    display: flex;
    gap: 16px;
    text-align: center;
    font-size: 22px;
    justify-content: center;
}
.procedurs2 {
    color: var(--color-white);
    line-height: 1.1;
    background-image: url('./images/photo_2026-01-27_10-14-33.jpg') ;
    background-repeat: no-repeat;
    width: 344px;
        height: 456px;
}
.procedurs3 {
    color: var(--color-white);
    line-height: 1.1;
    background-image: url('./images/image 1574.jpg') ;
    background-repeat: no-repeat;
    width: 344px;
        height: 456px;
}
.button-below {
border-radius: 32px;
    padding: 16px 32px;
    width: 281px;
    height: 53px;
font-weight: 600;
    font-size: 18px;
    border-color: #2a7fff;
        font-family: 'Roboto', sans-serif;
        color: var(--color-white);
        background-color: var(--color-blue);
        white-space: nowrap;
}
.button-below:hover {
    background: transparent;
    border-color: #2a7fff;
    color: var(--color-dark);
}
.button-below:focus {
    background: transparent;
    border-color: #2a7fff;
    color: var(--color-dark);
}
.politic {
    color: var(--color-grey);
    font-size: 12px;
    line-height: 1.5;
}
.politic .accent {
    color: var(--color-grey);
    text-decoration: underline;
}
.deffend {
    color: var(--color-grey);
    font-size: 13px;
}
.footer-link {
    color: var(--color-white);
    text-decoration: none;
    font-size: 16px;
}
.footer-link:hover {
    color: var(--color-blue);
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
}
.footer1 {
    background-color: var(--color-dark);
}
.section-footer {
    justify-content: center;
padding-top: 56px;
padding-left: 100px;
padding-bottom: 56px;
display: flex;
gap: 186px;
}
.last-li {
    margin-bottom: 16px;
}
.last-li-accent {
    margin-bottom: 42px;
}
.last {
    margin-top: 16px;
    color: var(--color-grey);
        font-size: 13px;
        margin-bottom: 0px;
}
.footer-icons {
    display: flex;
}
.footer-icons1 {
    fill: var(--color-white);
}
.footer-icons1:hover {
    fill: var(--color-blue);
}
.footer-icons2 {
    fill: var(--color-white);
}
.footer-icons2:hover {
    fill: var(--color-blue);
}
.footer-icons3 {
    fill: var(--color-white);
}
.footer-icons3:hover {
    fill: var(--color-blue);
}